[Unit]
Description = kpi-parameters daemon
After = network.target

[Service]
Type = simple
WorkingDirectory = /home/services/kpi-parameters
ExecStart = /home/services/kpi-parameters/kpi-parameters
Restart = always
RestartSec = 30
TimeoutStopSec = 5

[Install]
WantedBy = multi-user.target
